body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    height: 112vh;
}

/*---  Introduction Area   --*/
.intro-area{
    background: url(images/header-bg.png), no-repeat left;
    background-size: cover;
}
.full-width{
    padding-top: 200px;
    margin-left: 16%;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
}
h1{
    font-weight: 400;
    font-size: 40px;
}
#hello{
    margin-bottom: -30px;
}
.highlight{
    color: #EC4C7A;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 40px;
    display: block;
}
p{
    color: #757575;
    margin-bottom: 40px;
}
.button{
    padding: 10px 40px ;
    background-image: linear-gradient(45deg, #EC5298,#ED4B72);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.mypic{
    width: 100%;
}

/*---  Biography     --*/

.bio-area{
    background-color: #F8F9FC;
    background-size: cover;
    display: block;
    padding-top: 200px;
}
.mypic2{
    width: 80%;
    margin-left: 93px;
}
.content{
    margin-top: 101px;
    margin-left: 35px;
}

/*Latest Work*/
.work{
    background-image: url(images/latest-work-bg.png) ;  /* don't know why image is not working*/
    height: 80vh;
}
.work h1{
    margin-top: 90px;
    font-weight: 600;
    text-align: center;
}
.skill{
    margin-top: 70px;
    margin-left: 10%;
}
.skill img{
    width: 25%;
    float: left;
    padding-left: 2%;
}

/*Client Area*/

.client{
    text-align: center;
    margin-top: 30px;
    background-image: url(images/footer-bg.png);
    height: 93vh;
}
.client h1{
    font-weight: 500;
    margin-bottom: 10px;
}
h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 80px;
}
h4{
    font-size: 15px;
    font-weight: 300;
    color: #707070;
    margin: 0;
   
}
.client p{
    margin-top: 40px;
    color: black;
    margin-bottom: 70px;
}
.box{
    width: 650px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(45deg,#EC4F91,#ED4B6E);
    border-radius: 10px;
    margin: auto;
}
.box p{
    color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.box h5{
    color: #fff;
    margin: 0;
    font-size: 23px;
    margin-bottom: 30px;
}

/*Copyright area*/

footer{
    text-align: center;
}
footer p{
    color: #747474;
}






















